@import url('https://fonts.googleapis.com/css?family=Oswald|Roboto');

body {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    font-family: 'Roboto', sans-serif;
}

.text-sm {
    font-size: 1em !important;
}

.jumbotron {
    min-height: 650px;
}

h1 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 15em;
    font-family: 'Oswald', sans-serif;
    color: darkred;
    margin-top: 0px !important;
}

h3 {
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    color: darkred;
    margin-top: 0px !important;
    margin-bottom: 25px;
    text-align: center;
}

small {
    color: darkred !important;
}

.page-header {
    margin: 0px !important;
}

.display-table{
    display: table;
    table-layout: fixed;
}

.display-cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
}

